<div style="margin-top: 50px;" >

    <mat-card id="mainCard"   style="height: 400px;padding: 15px;margin-top: 2px;">
        <div class="container" style="padding: 15px;margin-top: 55px;">

            
            <div class="row" >
                <div class="col" style="margin: 4px;"> 
                    
                    <mat-card id="productCardAnimation1"> 

                        <p style="font-family:Sans-serif;text-align:center;font-size:large">
                        
                            Mobile Covers
                        </p>
                    </mat-card>
                </div>
                <div class="col" style="margin: 4px;"> 

                <mat-card (click)="move()" id="productCardAnimation2"> 
                    <p style="font-family:Sans-serif;text-align:center;font-size:large">
                    
                        Coffee Mugs 
                    </p>
                </mat-card>
            </div>
            
        </div>
        <div class="row" >
            <div class="col" style="margin: 4px;"> 
                
                <mat-card id="productCardAnimation2"> 
                    <p style="font-family:Sans-serif;text-align:center;font-size:x-large">
                    
                        Key Chains
                    </p>
                </mat-card>
            </div>
            <div class="col" style="margin: 4px;" > 

                <mat-card id="productCardAnimation1"> 
                    <p style="font-family:Sans-serif;text-align:center;font-size:large">
                    
                        Photo Frames
                    </p>
                </mat-card>
            </div>
            
        </div>
        <div class="row"  >
            <div class="col" style="margin: 4px;"> 
                
                <mat-card id="productCardAnimation1" > 
                    <p style="font-family:Sans-serif;text-align:center;font-size:large">

                        Magic Mirrors
                    </p>
                </mat-card>
            </div>
            <div class="col" style="margin: 4px;"> 
                
                <mat-card id="productCardAnimation2"> 
                    

                 <p style="font-family:Sans-serif;text-align:center;font-size:large">
                    Printed T-Shirts
                 </p>   
                    
                </mat-card>
            </div>
            
        </div>
        
    </div>
    
</mat-card>

<!-- </div> -->
