<div style="margin-top: 50px;">

    <mat-card id="defaultBack"   style="height: 400px;padding: 15px;margin-top: 4px;">
        <div class="container" style="padding: 15px;margin-top: 55px;">

            
            <div class="row" >
                <div class="col" style="margin: 4px;"> 
                    
                    <mat-card> 
                        Mobile Covers
                    </mat-card>
                </div>
                <div class="col" style="margin: 4px;"> 

                <mat-card (click)="move()"> 
                    Coffee Mugs 
                </mat-card>
            </div>
            
        </div>
        <div class="row" >
            <div class="col" style="margin: 4px;"> 
                
                <mat-card> 
                    Key Chains
                </mat-card>
            </div>
            <div class="col" style="margin: 4px;" > 

                <mat-card> 
                    Photo Frames
                </mat-card>
            </div>
            
        </div>
        <div class="row"  >
            <div class="col" style="margin: 4px;"> 
                
                <mat-card  > 
                    Magic Mirrors
                </mat-card>
            </div>
            <div class="col" style="margin: 4px;"> 
                
                <mat-card > 
                    

                    T-Shirts
                    
                </mat-card>
            </div>
            
        </div>
        
    </div>
    
</mat-card>

<!-- </div> -->
