
<div *ngIf="deviseXs" style="margin:4px;" > 

    <mat-toolbar id="productCardAnimation5">
        <mat-toolbar-row fxLayoutAlign="space-between center"> 
        <div fxLayout="row">
            <button mat-button class="logo">
                <p style="font-family:Sans-serif;text-align:center;font-size:large">
                    Angel Printing  
                </p>
            </button>

        </div>
        <div fxLayout="row">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="moveToHome(deviseXs)">
                <!-- <a routerLink="./home"> -->
                    home
                <!-- </a> -->
            </mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="moveToContact(deviseXs)">
                <!-- <a routerLink="./home"> -->

                    contact_phone
                <!-- </a> -->
               
            </mat-icon>
        </div>
    </mat-toolbar-row>
    
</mat-toolbar>
</div>