<div *ngIf="deviseXs">

    <mat-toolbar color="accent">
        <mat-toolbar-row fxlayout="space-between center">

            <!-- <div class="container" style="display: flex;justify-content: space-between;flex-wrap: wrap;">
                <button mat-button color="primary">Mobile Covers</button>
                <button mat-button color="primary" (click)="move()"> Coffee Mug</button>
                <button mat-button color="primary">MPrinted T-shirts</button>
                <button mat-button color="primary"> Key Chains</button>
                <button mat-button color="primary">Magic Mirrors</button>
                <button mat-button color="primary">Photo Frame</button>
            </div> -->
            <div fxLayout="row">
                <button mat-button color="primary">Mobile Covers</button>
                <button mat-button color="primary" (click)="move()"> Coffee Mug</button>
                <button mat-button color="primary">Printed T-shirts</button>

            </div>

        </mat-toolbar-row>
        <mat-toolbar-row fxlayout="space-between center">
            <div fxLayout="row">

                <button mat-button color="primary"> Key Chains</button>
                <button mat-button color="primary">Magic Mirrors</button>
                <button mat-button color="primary">Photo Frame</button>
            </div>
        </mat-toolbar-row>


    </mat-toolbar>
</div>