<mat-toolbar color="accent">
    <mat-toolbar-row>
        <!-- <span class="menu-spacer">

        </span> -->
        <div class="container" style="display: flex;justify-content: space-between;flex-wrap: wrap;">
            <a mat-button routerLink = "../products/productcard">Mobile Covers</a>
            <button mat-button color="primary" (click)="move()"> Coffee Mug</button>
            <a mat-button> Printed T-shirts</a>
            <a mat-button> Key Chains</a>
            <a mat-button> Magic Mirrors</a>
            <a mat-button> Photo Frame</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
