
<div>
  <mat-card id="productCardAnimation4" style="max-width:300px;height: fit-content;margin: 25px; padding: 40px;">
    <mat-card-header>
      <mat-card-title>
        Angel Printing
      </mat-card-title>
      <mat-card-subtitle>
        Call us at : 90975 86822
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="card-img-top " style="margin: 2px;" src="./assets/shoplogo/angelLogo.jpeg" alt="Card image cap">

      <p style="margin: 2px;">

        We are providing customized item to our customers for a range of unique products to choose from.
      </p>
    </mat-card-content>
  </mat-card>

</div>