<!-- <app-productcard></app-productcard> -->
<!-- <app-contactus [deviseXs]="deviseXs"></app-contactus> -->
<!-- <div *ngIf="showHomePage"> -->

<mat-card id="defaultBack" *ngIf="deviseXs"  style="height: 400px;padding: 15px;margin-top: 4px;">
    <div class="container" style="padding: 15px;margin-top: 55px;">

      
        <div class="row" style="margin:8px">
            <div class="col" style="margin-right: 10px;"> 

                <mat-card> 
                    Mobile Covers
                </mat-card>
            </div>
            <div class="col"> 

                <mat-card (click)="move()"> 
                    Coffee Mugs
                </mat-card>
            </div>
          
        </div>
        <div class="row" style="margin:8px">
            <div class="col" style="margin-right: 10px;margin-top: 8px;"> 

                <mat-card> 
                    Key Chains
                </mat-card>
            </div>
            <div class="col" style="margin-top: 8px;" > 

                <mat-card> 
                    Photo Frames
                </mat-card>
            </div>
          
        </div>
        <div class="row" style="margin:8px" >
            <div class="col" style="margin-right: 9px;margin-top: 8px;"> 

                <mat-card  > 
                    Magic Mirrors
                </mat-card>
            </div>
            <div class="col" style="margin-top: 8px;margin-left: 8px;"> 

                <mat-card > 
                    

                        T-Shirts
                  
                </mat-card>
            </div>
          
        </div>
       
    </div>

</mat-card>

<!-- </div> -->
<!-- <router-outlet></router-outlet> -->